/* all code just for the pictures */
.picture{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.pictures figcaption{
    position: absolute;
    top: 0;
    text-align: center;
}

/* decoration for text and other */
*{
    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    color: #007d7b;
    background-color: #ffff;
}

nav{
    background-color: #000000;
    color: #ffff;
}

li{
    list-style: none;
}

ul li{
    display: inline;
    
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #000000;
}

main{
    background-color: #ffff;
    color: #000000;
}

aside{
    color: #ffff;
}

label{
    color: #ffff;
}

[value]{
    color: #007d7b;
}

footer{
    color: #ffff;
    justify-self: center;
    text-align: center;

}

p{
    font-size: 1.25em;
}

figcaption, label, input, small{
    font-size: 1em;
}

nav a{
    font-size: 1.5em;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
    text-align: center;
}

[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    background-color: #000000;
    border: #000000;
  }

aside{
    display: flex;
    align-content: center;
    justify-content: center;
}



/* media screens */


@media screen and (min-width: 485px){
    .pictures{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
    }
}

@media screen and (min-width: 880px){
    .pictures{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (min-width: 1300px){
    .pictures{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    nav ul{
        text-align: right;
    }
}